@model Capacitaciones
@{
    Layout = "~/Views/Shared/_StartLayout.cshtml";
    List<Niveles> nvl = ViewBag.niveles;
}
<!-- End Navbar -->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Capacitaciones</h4>
                        <p class="card-category">En el formulario puede actualizar la informacion de las Capacitaciones del candidato</p>
                    </div>
                    <div class="card-body p-5">
                        <form asp-controller="Capacitaciones" asp-action="Edit" method="post">
                            <div class="row">
                                <div class="col-md-5">
                                    @Html.HiddenFor(x => x.Id)
                                    @Html.HiddenFor(x => x.Candidato)
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Capacitacion</label>
                                        <input type="text" class="form-control" asp-for="@Model.Descripcion">
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nivel</label>
                                        <select class="form-control" asp-for="@Model.Nivel">
                                            @foreach (var item in nvl)
                                            {
                                                <option value="@item.Id">@item.Descripcion</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Institucion</label>
                                        <input type="text" class="form-control" asp-for="@Model.Institucion">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Fecha inicial</label>
                                        <input type="text" class="form-control" asp-for="@Model.FechaInicio">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Fecha Final</label>
                                        <input type="text" class="form-control" asp-for="@Model.FechaFinal">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-sucess pull-right">Actualizar Capacitacion</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>